<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:flashMessages />
    <f:if condition="{categories}">
		<f:then>
			<f:render section="categoryList" arguments="{categories: categories}" />

			<f:section name="categoryList">
				<ul>
					<f:for each="{categories}" as="category">
						<li>
						<f:link.action action="list" controller="Content" arguments="{category:category}">{category.title}</f:link.action>
						<f:if condition="{category.subCategories}">
							<f:render section="categoryList" arguments="{categories: category.subCategories}" />
						</f:if>
						</li>
					</f:for>
				</ul>
			</f:section>
		</f:then>
		<f:else>
			<p class="info">{f:translate(key:'tx_contentcat_domain_model_category.noCategory')}</p>
		</f:else>
    </f:if>
</f:section>