<f:if condition="{contentElement.categories}">
	<div class="tx-contentcat-footer">
		<ul>
			<f:if condition="{settings.categoryListPageUid}">
				<f:then>
					<f:for each="{contentElement.categories}" as="category">
						<li>
							<f:link.action action="list" arguments="{category:category}" pageUid="{settings.categoryListPageUid}">{category.title}</f:link.action>
						</li>
					</f:for>
				</f:then>
				<f:else>
					<f:for each="{contentElement.categories}" as="category">
						<li>{category.title}</li>
					</f:for>
				</f:else>
			</f:if>
		</ul>
	</div>
</f:if>
