{namespace fex = Tx_Flextend_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<fex:subHeader>{f:translate(key:'tx_contentcat_domain_model_content.contentWithCategory')} "{category.title}"</fex:subHeader>

	<f:flashMessages />
	<f:if condition="{contents}">
		<f:then>
			<ul class="content-list">
				<f:for each="{contents}" as="content" iteration="iteration">
					<li{f:if(condition:'{iteration.isLast}',then:' class="last"')}>
					<fex:subHeader increase="2">
						<f:link.page pageUid="{content.pid}" section="{content.uid}">
							<f:if condition="{content.header}">
								<f:then>{content.header}</f:then>
								<f:else>{f:translate(key:'tx_contentcat_domain_model_content.noHeader')}</f:else>
							</f:if>
						</f:link.page>
					</fex:subHeader>
					<f:if condition="{content.subheader}">
						<f:then>
							<p><f:link.page pageUid="{content.pid}" section="{content.uid}">{content.subheader}</f:link.page></p>
						</f:then>
						<f:else>
							<f:if condition="{content.bodytext}">
								<p><f:link.page pageUid="{content.pid}" section="{content.uid}">{content.bodytext -> f:format.stripTags() -> f:format.crop(maxCharacters:'{settings.maxCharacters}')}</f:link.page></p>
							</f:if>
						</f:else>
					</f:if>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p class="info">{f:translate(key:'tx_contentcat_domain_model_content.noContent')}</p>
		</f:else>
	</f:if>
	<f:link.action action="list" controller="Category">{f:translate(key:'tx_contentcat_domain_model_content.backToCategories')}</f:link.action>
</f:section>